.image_wrap {
  float: left;
  width: 23%;
  background-color: #000;
  cursor: pointer;
  padding: 1%;
}

.image {
  overflow: hidden;
  height: 100px;
  transition: all 0.2s ease-in-out;
}

.image:hover {
  transform: scale(1.1);
}

.image_active {
  transform: scale(1.3);
}
