.root {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  background-color: #000;
  opacity: 0.3;
  text-align: center;
}

.root:hover {
  opacity: 0.5;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 40%;
  color: #fff;
  font-size: 7vh;
}

.disable {
  background-color: #ddd;
}
.disable:hover {
  opacity: 0.3;
  cursor: default;
}
